<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.mapper.GradeMapper">
    <delete id="deleteGrade" parameterType="integer">
        delete from grade where toGradeEmpId=#{id}
    </delete>
    <select id="getAllGradeById" resultType="com.meteor.pojo.Grade">
        select * from grade where toGradeEmpId=#{id}
    </select>
  <insert id="addGrade" parameterType="com.meteor.pojo.Grade">
      insert into grade (id,grade,toGradeEmpId,fromGradeEmpId,gradeDate) values
      (#{id},#{grade},#{toGradeEmpId},#{fromGradeEmpId},#{gradeDate,jdbcType=DATE})
  </insert>
    <select id="getAllGradeByFromEmp" resultType="com.meteor.pojo.Grade">
        select * from grade where fromGradeEmpId=#{id}
    </select>
    <select id="getAllGradeBYDate" resultType="com.meteor.pojo.Grade">
        select * from grade where date_format(gradeDate,'%Y-%m')=date_format(now(),'%Y-%m') and fromGradeEmpId=#{id}
    </select>
    <select id="getAllGradeByToEmp" resultType="com.meteor.pojo.Grade">
         SELECT * FROM grade WHERE toGradeEmpId=#{id}
    </select>
</mapper>
