<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meteor.mapper.YearBenefitMapper">
    <select id="getAllYearBenefit" resultType="com.meteor.pojo.YearBenefit">
        select * from yearbenefit order by id desc
    </select>
    <select id="getDepYearBenefit" resultType="com.meteor.pojo.YearBenefit" parameterType="integer">
        select * from yearbenefit where department=#{dep} order by id desc
    </select>
    <insert id="addYearBenefit" parameterType="com.meteor.pojo.YearBenefit">
        insert into yearbenefit (id,yearDate,money,department) values (#{id},#{yearDate},#{money},#{department})
    </insert>
    <update id="updateYearBenefit" parameterType="com.meteor.pojo.YearBenefit">
        update yearbenefit set money=#{money}
    </update>
    <delete id="deleteYearBenefitById" parameterType="integer">
        delete from yearbenefit where id=#{id}
    </delete>
</mapper>

